*~
*.bck
bin
build
_build
.bzr
.bzrignore
.chutifab
.coverage
.coverage*
coverage*
develop-eggs
dist
downloads
*.egg
*.EGG
*.egg-info
*.EGG-INFO
eggs
fake-eggs
.hg
.hgignore
*.html
.idea
include/
.installed.cfg
*.jar
lib/
*.mo
.mr.developer.cfg
.nuka
nosetest*
*.old
*.orig
parts
pip-selfcheck.json
*.pyc
*.pyd
*.pyo
*.so
share
src
.svn
*.swp
.tox
*.tmp*
var
*.wpr
