openstack:
    driver: ~/.ovh/nuka.json
    create_node_args:
       flavor: s1-2
       image: Debian 8

gce:
    user: bear
    driver: ~/.gce/nuka.json
    create_node_args:
       size: f1-micro
       image: debian-8-jessie-v20170110
       location: europe-west1-d
       ex_tags: [nuka]
       ex_disk_auto_delete: True
       ex_service_accounts:
           - scopes:
             - https://www.googleapis.com/auth/cloud.useraccounts.readonly
             - https://www.googleapis.com/auth/devstorage.read_only
             - https://www.googleapis.com/auth/logging.write
             - https://www.googleapis.com/auth/monitoring.write
             - https://www.googleapis.com/auth/service.management.readonly
             - https://www.googleapis.com/auth/servicecontrol

ssh:
    extra_options: ['-C', '-oStrictHostKeyChecking=no']
    keysfile: ~/.ssh/authorized_keys

