==================================================================
:mod:`{{module}}`
==================================================================

.. automodule:: {{module}}

{% for task in tasks %}
{{module}}.{{task.__name__}}
==================================================================

.. autofunction:: {{task.__name__}}

{% if task.test %}
Example:

.. code-block:: python

{{task.test_source}}
{% endif %}
{% endfor %}
